.header {
  background: #fff;
}

.header__inner {
  margin: 0 auto;
  padding: 20px 15px;
  max-width: 1230px;
}

.header__logo {
  color: #000;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}
